:root,
[data-theme="dark"],
[data-theme="light"] {
    --primary: #FFA634 !important;
    --primary-hover: #fcb251 !important;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background {
    background-image: url("../assets/background.svg");
    background-position-x: calc(50% - 40px);
    background-repeat: repeat;
}

.nav {
    flex-wrap: wrap;
    padding-top: 20px;

    & img {
        max-width: 80px;
    }

    & li.active {
        color: var(--primary-hover);
    }

    & li.disabled {
        color: grey;
        cursor: default;
    }

    & h2 {
        margin-bottom: 0;
    }
}

.pointer {
    cursor: pointer;

    &:hover {
        color: var(--primary-hover);
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page {
    display: none;

    &.active {
        display: block;
    }
}

.footer {
    background-color: var(--card-background-color);
    text-align: center;
}